body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 15px; /* Adição de bordas arredondadas */
}

section {
    margin: 20px;
    border-radius: 15px; /* Adição de bordas arredondadas */
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calculator h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#convincing, #why-choose-us {
    background-color: #3498db;
    color: #fff;
}

#contact, #authorization, #bank-phrases {
    background-color: #ecf0f1;
    color: #333;
}

#authorization, #bank-phrases {
    text-align: center;
}

#bank-phrases {
    margin-bottom: 60px;
    font-weight: bold;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    border-radius: 15px; /* Adição de bordas arredondadas */
}
